{% extends "base.html" %}

{% block title %}
 Ecommerce | Order List
{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
   <div id="breadcrum">
      <div class="container">
          <div>
              <ul class="breadcrumb">
                  <li> <a href="">Home</a></li>
              
                  <li class="active">User Profile</li>
              </ul>

          </div>

      </div>

  </div>



  <div class="section">
      <div class="container">

          {%if messages %}

          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
              {{message}}
          </div>
          {% endfor %}
          {% endif %}

          <!--start from here-->
          <div class="page-section mb-60">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                           <div class="aside">
                             {% include 'include/profile_sidebar.html' %}
                        </div>
                      </div>

                      <div class="card col-sm-12 col-md-12 col-lg-9 col-xs-12">
                          <h1 class="text-center font-weight-bold">Order List</h1>
                          <div class="table-content table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th class="li-product-remove">Order ID</th>
                                          <th class="li-product-thumbnail">Total Amount</th>
                                          <th class="cart-product-name">Status</th>
                                          <th class="li-product-price">Created At</th>
                                          <th class="li-product-price">Action</th>
                                         
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for order in orders %}
                                      <tr>
                                        
                                          <td class=""><a href="{% url 'order:order_product_list' id=order.id%}">{{order.code}}</a></td>
                                          <td >{{order.total}}</td>
                                          <td >{{order.status}}</td>
                                          <td >{{order.created_at}}</td>
                                          <td ><a href="{% url 'order:billing_detail' id=order.id%}" class="btn btn-dark">Billing Details</a></td>
                                         
                                      </tr>
                                 {% endfor %}
                                     
                                    
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>

                  <!--end from here-->

              </div>
          </div>
{% endblock main %}